{% extends "base.html" %}

{% block analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5LS80XX2C3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5LS80XX2C3');
</script>
{% endblock %}

{% block extrahead %}
  {% if page and page.meta and page.meta.title %}
    <meta property="og:title" content="{{ page.meta.title }}" />
    <meta name="twitter:title" content="{{ page.meta.title }}" />
    <meta property="og:description" content="{{ page.meta.description }}" />
    <meta property="og:image" content="{{ page.meta.image }}" />
    <meta name="twitter:image" content="{{ page.meta.image }}" />
  {% elif page and page.title and not page.is_homepage %}
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ config.site_description }}" />
  {% endif %}
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.canonical_url }}" />
  <meta property="og:image:type" content="image/png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="eletiy" />
  <meta name="twitter:creator" content="eletiy" />
{% endblock %}